.navbar {
    height: 40px;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 100%;
}

.navbar-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    padding: 0 20px;
}

.navbar-brand {
    position: relative;
    flex-grow: 0;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    overflow: hidden;
}

.navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-text {
    color: var(--text-primary) !important;
    font-size: 1.563rem;
    font-weight: bold !important;
}

.nav-text:hover {
    color: var(--text-second) !important;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
}
@media (max-width: 987px) {
    .navbar {
        height: auto;
    }
}
