.navbar {
    height: 80px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbarFixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    padding: 0 20px;
}

.navbarBrand {
    position: relative;
    flex-grow: 0;
}

.navLogo {
    width: 160px;
    height: 140px;
    object-fit: contain;
}

.navText {
    color: var(--text-primary) !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.navIcon {
    margin-left: 20px;
}

.navText:hover {
    color: var(--text-second) !important;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    .navIcon {
        margin-left: 0px;
    }
}

@media (max-width: 987px) {
    .navbar {
        height: auto;
    }
    .navIcon {
        margin-left: 0px;
    }
}
