.labelText {
    font-size: 1.4rem;
    font-weight: 500;
}
.btnAdd {
    outline: none;
    border: none;
    background-color: #0984e3;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 1.6rem;
    color: var(--text-primary);
    font-size: bold;
    margin: 20px 0;
}
.btnAdd:hover {
    background-color: #74b9ff;
}

.btnAdd:active {
    background-color: #0652a0;
    transform: scale(0.98);
}
