.slotHeader {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: var(--text-second);
  font-weight: bold;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.invoiceBody{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.invoiceEmploy{
  font-size: 1.4rem;
  font-weight: bold;
}

.invoiceEmploySelect{
  flex: 1;
}

.invoiceBtn{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.invoiceDetails{
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid #0000;
  padding: 0 40px;
}

.invoiceDetails h3{
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-second);
  
}

.invoiceDetails p{
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
}
