.contactContainer {
    position: relative;
}

.contactRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contactInfo,
.contactForm {
    position: absolute;
    top: -100px;
    width: 428px;
    height: 280px;
    border-radius: var(--border-radius);
    z-index: 100;
}

.contactInfo {
    text-align: center;
    background-color: var(--grey-background);
}

.infoContent {
    margin-top: 24px;
    color: var(--text-primary);
    padding: 10px 10px;
    font-size: 1.4rem;
}

.contentLocation {
    gap: 40px;
}

.contentCall,
.contentTime {
    gap: 10px;
}

.contentCall,
.contentLocation,
.contentTime {
    display: flex;
    justify-content: flex-start;
    padding: 4px 20px;
    align-items: center;
    font-size: 1.4rem;
}

.contentBtn {
    width: 100%;
}

@media (max-width: 987px) {
    .contactInfo,
    .contactForm {
        position: relative;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .contactRow {
        display: flex;
        flex-direction: column;
    }
    .contactInfo {
        top: -40px;
    }
}
