.customerDetaiProfile{
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.customerDetailTextDes{
  font-size: 1.4rem;
  font-weight: 400;
}

.customerDetailRank{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.CustomerDetailSelect{
  width: 100px !important;
  height: 30px !important;
}


.modalHeaderCustom {
  background-color: var( --background-third); 
  color: var(--text-primary);
  font-size: 24px;
  text-align: center;
}

.modalBodyCustom {
  font-size: 18px;
  color: #333;
}

.modalFooterCustom {
  justify-content: center;
}

.buttonCustom {
  font-size: 16px;
  padding: 10px 20px;
}
