@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
    --border-radius: 0.4rem;

    --background-primary: #303338;
    --background-second:#130F40;
    --background-third:#9B1330;
    --grey-background: #95A5A6;
    --white-background:#fff;
    
    --text-primary: #fff;
    --text-second: #e02f33;
    --text-third:#303338;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
