.adminWrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.adminSidebar{
  width: 290px;
  background-color: var(--background-primary);
}
.adminContainer{
  flex: 1;
}
.contentWrapper {
  flex: 1; 
  overflow: auto;
}

.withSidebar {
  margin-left: 250px;
  margin-top: 60px;
}

.fullContent {
  margin-top: 60px;
  margin-left: 0;
}
