.specification {
    margin-top: 40px;
    width: 100%;
}

.specification-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    background-color: #e02f33;
}

.specification-head h4 {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.specification-body {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.body-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.body-text span {
    font-size: 1.6rem;
    color: var(--text-primary);
    font-weight: bold;
}
