.navAdmin{
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navAdminImage{
  width: 200px;
  height: 40px;
  object-fit: contain;
}

.navAdminLeft {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navAdminCenter {
  flex-grow: 4;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navAdminIcon{
  display: inline-block;
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--text-primary);
  cursor: pointer;
}

.iconActive{
  color: var( --text-second);
}

.navAdminRight {
  flex-grow: 4;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
}
