.promotionDetaiHead {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.promotionIcon {
  font-size: 3rem;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.invoiceBody{
  margin:30px 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.invoiceEmploy{
  font-size: 1.4rem;
  font-weight: bold;
}

.invoiceEmploySelect{
  flex: 1;
}

.invoiceBtn{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
