.modalHeader {
    background-color: #f8f9fa;
}

.modalTitle {
    font-size: 1.8rem !important;
    color: #3498db !important;
}

.formLabel {
    font-size: 1.4rem !important;
    font-weight: bold;
    color: #495057 !important;
}

.formControl {
    font-size: 1.4rem !important;
}

.formGroup {
    padding: 6px 0;
}

.btn {
    font-size: 1.6rem !important;
    width: 100px;
    height: 40px;
    border-radius: 6px;
}
