.careServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.careServices h4 {
    font-size: 2rem;
    color: var(--text-second);
    font-weight: bold;
    text-transform: uppercase;
}

.careServices p {
    font-size: 1.6rem;
    color: var(--text-primary);
    font-style: italic;
    margin-bottom: 30px;
}

.careContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.careCard {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: var(--border-radius);
    background-color: var(--grey-background);
    position: relative;
}

.imageWrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.imageDefault {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.serviceText {
    text-align: center;
}

.careCard:hover .imageDefault {
    opacity: 0;
}

.careCard:hover .imageHover {
    opacity: 1;
}

.careCard:hover {
    cursor: pointer;
    background-color: var(--text-primary);
    color: var(--text-second);
}

@media (max-width: 987px) {
}

@media (max-width: 768px) {
    .careServices p {
        text-align: center;
    }
}
