.slotHeader {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: var(--text-second);
    font-weight: bold;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.slotBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.slotInfoCustomer {
    flex: 1;
}

.slotLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slotLoadingText {
    font-size: 1.6rem;
    color: var(--text-second);
}

.slotCustomerDetaiWrapper {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}
.slotCustomerDetaiHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-third);
    font-size: 1.4rem;
}

.slotCustomerDetaiLine {
    color: var(--text-third);
    font-size: 1.4rem;
}

.dataTableItem,
.dataTableHead {
    font-size: 1.4rem;
    height: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

.dataTableIconEye {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb3ce733;
    color: #e84393;
}

.slotInfoServices {
    flex: 2;
}

.slotInfoDateTime {
    flex: 1;
}

.selectCustomerButton {
    font-size: 1.4rem !important;
    position: relative;
    right: 0;
}

.labelText {
    font-size: 1.4rem;
    font-weight: 500;
    color: var();
}

.selectedButton {
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    background-color: #007bff !important; /* Màu xanh hoặc màu bạn muốn */
    color: white;
    border: none;
    cursor: default; /* Thay đổi con trỏ để cho thấy đây là nút đã chọn */
}

.selectedCustomerInfo {
    font-size: 1.4rem;
    color: var(--text-third);
    padding: 0 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.selectedCustomerInfo h4{
    color: #007bff;
}
