.blogHead h4{
  margin-top: 40px;
  text-align: center;
  color: var(--text-second);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.blogBody{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.blogCard{
  width: 352px;
  height: 484px;
  background-color: var(--grey-background);
  border-radius: var(--border-radius);
}

.blogInfo{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blogUser{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 987px) {
  .blogBody {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
}
