.blogHead h4 {
    margin-top: 40px;
    text-align: center;
    color: var(--text-second);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.blogBody {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.blogCard {
    width: 300px;
    min-height: 400px;
    background-color: var(--white-background);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blogImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blogInfo {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4px;
}

.blogUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blogUser p {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: var(--text-third);
}

.blogUserIcon {
    font-size: 1.4rem;
    color: var(--text-second);
}

.blogContent {
    padding: 6px;
}

.blogContent p {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-third);
}

.blogContentRead {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-second);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 987px) {
    .blogBody {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
