.customerTitle {
    font-size: 1.8rem !important;
    color: #e74c3c !important;
}

.customerLabel {
    font-size: 1.6rem !important;
}

.customerBtn {
    width: 100px;
    height: 34px;
    font-size: 1.6rem !important;
}
