.dateTimeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dateText {
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
 
  margin: 0;
}

.timeText {
  font-size: 14px;
  color: #555;
  margin: 0;
}
