.dataTableWrapper {
    margin-top: 10px;
}

.dataTableItem,
.dataTableHead {
    font-size: 1.4rem;
    height: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    cursor: pointer;
}

.dataTableHead {
    background-color: var( --blue-background) !important;
    color: var(--text-primary) !important;
    text-transform: uppercase;
}

.dataTableItemAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.dataTableIconEye {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb3ce733;
    color: #e84393;
}

.dataTableIconPen {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55efc4;
}

.dataTableIconTrash {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0392b;
}
