.dataTableWrapper {
  margin-top: 10px;
}
.dataTableItem,
.dataTableHead {
  font-size: 1.4rem;
  height: 50px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
  cursor: pointer;
}
.dataTableItemAction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}

.dataTableIconEye {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb3ce733;
  color: #e84393;
}
.dataTableIconPen {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1a9f5333; */
  color: #55efc4;
}

.dataTableIconTrash{
width: 30px;
height: 30px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: #f1113333; */
color: #c0392b;
}
