
.modalHeader {
    background-color: #3498db !important;
    color: #fff;
    font-size: 1.4rem;
}
.modalBody{
  background-color: #e3dede;
}
.customer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.formCustomer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.labelForm {
    font-size: 1.3rem;
    font-weight: 500;
}

.customerText {
    font-size: 1.3rem;
}
.customerBtn {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: #3498db;
    color: #fff;
}
.car {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.carBtn {
    border: none;
    outline: none;
    background-color: #3498db;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}
.carBtn:hover {
    background-color: #52a5dc;
}
.dataTableItem,
.dataTableHead {
    font-size: 1.3rem;
    height: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

.dataTableIcon{
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
}

.errorText,
.totalText{
  color: red;
}

.btnSubmit{
  margin: 10px 0px;
  width: 100%;
  height: 34px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #3498db;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
