.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.servicesImage,
.servicesContent {
    flex: 1;
}

.servicesImage {
    margin-top: 20px;
    max-width: 100%;
}

.servicesContent h4 {
    text-align: center;
    color: var(--text-second);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.servicesContent p {
    font-size: 1.6rem;
    color: var(--text-second);
}

.servicesCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.servicesWhy {
    width: 48%;
    height: 180px;
    background-color: var(--grey-background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesWhy h6 {
    font-size: 1.6rem;
    color: var(--text-second);
    font-style: italic;
}

.servicesWhy p {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-style: italic;
}

@media (max-width: 987px) {
    .servicesImage {
        display: none;
    }
}
