.feedback {
    margin-top: 40px;
    height: 400px;
    position: relative;
    background-image: url('../../../../assets/sidebar/sidebar.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.feedbackHeader h4 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: var(--text-second);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.feedbackBody {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10 !important;
    height: 300px;
    margin-left: 40px;
    margin-top: auto;
}

.feedbackContent{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 4px ;
    width: 300px;
    height: 100px;
    background-color: var(--text-second);
}
.feedbackContent::before{
    content: "";
    position: absolute;
    bottom: -18px;
    left: 24px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--text-second);
}

.feedbackIcon{
    font-size: 1.6rem;
    margin: 0 10px;
    color: #F1C40F;
}

.quoteIcon{
    font-size: 40px;
    position: absolute;
    top: -24px;
    left: 10px;
    font-weight: bold;
    color: var(--text-primary);
}

.feedbackText{
    font-size: 1rem;
    color: var(--text-primary);
    font-style: italic;
}
