.feedback {
    margin-top: 40px;
    height: 400px;
    position: relative;
    background-image: url('../../../../assets/sidebar/sidebar.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1; /* Đảm bảo nội dung nằm trên lớp phủ */
}

.feedbackHeader h4 {
    position: relative;
    text-align: center;
    color: var(--text-second); /* Màu sắc của văn bản */
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.feedbackBody {
    display: flex;
    height: 360px;
    justify-content: space-around;
    align-items: center;
}

.feedbackContent{
    width: 400px;
    height: 100px;
    background-color: var(--text-second);
}
