.introHead h4 {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-second);
    text-align: center;
    text-transform: uppercase;
}

.introBody h6 {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-primary);
    font-weight: bold;
}

.introBody p {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-style: italic;
    font-weight: 200;
}

.introWrapperImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introImg {
    width: 300px;
    height: 200px;
}

@media (max-width: 900px) {
    .introWrapperImage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .introImg {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .introImg {
        width: 150px;
        height: 150px;
    }
}
