.customerTitle {
  font-size: 1.8rem !important;
  color: var(--blue-background) !important;
}

.customerLabel {
  font-size: 1.6rem !important;
}

.customerControl {
  font-size: 1.4rem !important;
}

.customerLabel,
.customerControl {
  color: var(--text-third) !important;
}

.customerGroup {
  padding: 6px;
}

.btn {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
}

.customerBtn {
  width: 100px;
  height: 34px;
  font-size: 1.6rem !important;
}
