.appointmentDetail {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.appointmentDetailIcon {
    font-size: 3rem;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
}

.appointmentDetailHeader {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.appointmentDetailStatus {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #3498db;
    color: var(--text-primary);
    border-radius: 6px;
    padding: 4px;
}
.appointmentDetailDate {
    font-size: 1.6rem;
    font-weight: bold;
}
.appointmentDetailBody p {
    margin-bottom: 0rem;
}

.appointmentCustomer, .vehicleInfo, .services {
  border: 2px solid #3498db; /* Màu và kích thước của border */
  border-radius: 8px; /* Bo góc cho border */
  padding: 20px;
  margin-top: 30px; /* Khoảng cách phía trên */
  /* Không cần position: relative nếu tiêu đề không cần định vị phức tạp */
}

.customerHeader, .vehicleHeader, .serviceHeader {
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: 20px; /* Canh lề trái cho tiêu đề */
  background-color: #fff; /* Màu nền để tiêu đề nằm trên border */
  padding: 0 10px; /* Khoảng cách hai bên cho tiêu đề */
  font-weight: bold;
}



.customerDetails p,
.vehicleDetails p {
    font-size: 1.4rem;
    font-style: italic;
}

.serviceList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.serviceItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Đường kẻ dưới mỗi dịch vụ */
}

.serviceName {
    font-size: 1.6rem;
    font-weight: bold;
}

.servicePrice {
    font-size: 1.6rem;
    color: #000; /* Màu sắc của giá dịch vụ */
}

.separator {
    border: none;
    border-top: 2px solid #000; /* Đường kẻ dày hơn cho tổng hóa đơn */
    margin: 20px 0;
}

.totalCost {
    font-weight: bold;
    font-size: 16px;
    text-align: right; /* Canh phải cho tổng chi phí */
}

.appointmentDetailFooter{
  margin: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.appointmentDetailFooterBtn{
  border: none;
  outline: none;
  padding: 6px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 6px;
  background-color: #e74c3c;
  color: var(--text-primary);
}
