.intro-container {
    position: relative;
}

.intro-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.intro-info,
.intro-form {
    position: absolute;
    top: -100px;
    width: 428px;
    height: 280px;
    border-radius: var(--border-radius);
    z-index: 100;
}

.intro-info {
    text-align: center;
    background-color: var(--grey-background);
}

.info-content {
    margin-top: 24px;
    color: var(--text-primary);
    padding: 10px 10px;
    font-size: 1.4rem;
}

.content-location {
    gap: 40px;
}

.content-call,
.content-time {
    gap: 10px;
}

.content-call,
.content-location,
.content-time {
    display: flex;
    justify-content: flex-start;
    padding: 4px 20px;
    align-items: center;
    font-size: 1.4rem;
}

.content-btn {
    width: 100%;
}

@media (max-width: 987px) {
    .intro-info,
    .intro-form {
        position: relative;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .intro-row {
        display: flex;
        flex-direction: column;
    }
}
