.banner {
    width: 100%;
    height: 200px;
    background-color: #e02f33;
}

.bannerContenr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.bannerText{
  font-size: 1.6rem;
  color: var(--text-primary);
  font-weight: bold;
}

.bannerBtn{
  width: 240px;
  height: 40px;
  font-size: 1.6rem;
}

@media (max-width: 987px) {
  .banner {
     width: 100%;
  }
  
  .bannerBtn{
    width: 140px;
  height: 40px;
  }
}
