.customerTitle {
  font-size: 1.6rem !important;
  color: var(--blue-background) !important;
}

.infoCustomer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

}

.infoHeading{
  font-size: 1.5rem;
  color: var(--text-third);
  font-style: italic;
}

.infoHeadingServices{
  font-size: 1.5rem;
  color: var(--text-third);
  font-style: italic;
  padding-left: 10px;
}
.infoText{
  font-size: 1.4rem;
  color: var(--text-third);
}

.infoTextTotal{
  font-size: 1.4rem;
  color: #e74c3c;
  padding-left: 10px;
}
