.intro-head h4 {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-second);
    text-align: center;
    text-transform: uppercase;
}

.intro-body h6{
  margin-top: 20px;
  font-size: 1.6rem;
  color: var(--text-primary);
  font-weight: bold;
}

.intro-body p{
  font-size: 1.4rem;
  color: var(--text-primary);
  font-style: italic;
  font-weight: 200;
}

.intro-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
