.appointmentCardText{
  font-size: 1.4rem !important;
  
}

.appointmentCard{
  width: 100%;
  height: 210px;
  padding: 10px;
  background: linear-gradient(135deg, #a2c2e4, #ffffff);
  margin-bottom: 20px;
  margin-top: 20px;
  border: 4px;
  border-radius: 6px;
  /* position: relative; */
}
.newestLabel{
  position: absolute;
  top: 10px; /* Điều chỉnh giá trị này để thay đổi khoảng cách so với cạnh trên của appointmentCard */
  right: 10px; /* Điều chỉnh giá trị này để thay đổi khoảng cách so với cạnh phải của appointmentCard */
  width: 100px;
  height: 20px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; /* Thêm bo tròn góc nếu cần */
}
.accordionBtn{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(135deg, #3187e3, #0edb90);
}

.accordionBtn:hover {
  background: linear-gradient(135deg, #266bc9, #0bb77a); 
}

.accordionBtnPay{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(120deg, #f6d365, #fda085);
}

.accordionBtnPay:hover {
  background: linear-gradient(120deg, #fda085, #f6b364); /* Đổi gradient nhẹ hơn khi hover */
}

.appointmentCardHeader{
  background: linear-gradient(135deg, #d9e6e9, #f0f4f8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  padding: 0 4px;
}

.appointmentCardHeader h5{
  font-size: 1.4rem;
  font-weight: 500 !important;
  margin: 0;
}

.appointmentCardHeader span{
  font-size: 1.2rem;
  color: var( --text-third) !important;
  font-weight: 500 !important;
}

.appointmentCardBody{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointmentFooder{
  position: relative;
  margin-top: 10px;
}

.appointment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.accordionBtnPrint{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(45deg, #00BCD4, #2196F3);
  
}

.accordionBtnReturn{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #ff4d4d, #ff9999);
}

.accordionBtnBack{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(90deg, #ffd1b3, #ff9980, #ff6666);

}

.accordionBtnPrint:hover{
  background: linear-gradient(45deg, #2196F3, #00BCD4);
}

.accordionBtnReturn:hover{
  background: linear-gradient(90deg, #ff9999, #ff4d4d, #ff0000); 
}

.accordionBtnBack:hover {
  background: linear-gradient(90deg, #ff6666, #ff9980, #ffd1b3); 
}

.customerTitle {
  font-size: 1.8rem !important;
  color: #e74c3c !important;
}

.paymentTitle{
  font-size: 1.8rem !important;

}

.customerLabel {
  font-size: 1.6rem !important;
}

.customerBtn {  
  width: 100px;
  height: 34px;
  font-size: 1.6rem !important;
}

.formText{
  font-size: 1.4rem;
}

.cashPayment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.accordionBtnPayCash{
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: 1.5rem !important;
  font-weight: bold;
  background: linear-gradient(120deg, #40e8df, #e1648c);

}
.accordionBtnPayCash:hover{
  background: linear-gradient(120deg, #e1648c, #40e8df); 
}

.textYellow {
  color: #f0932b;
}
.textGreen {
  color: #2ecc71;
}
.textRed {
  color: #e74c3c;
}

/* .loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
