.appointmentCardText{
  font-size: 1.4rem !important;
  
}

.appointmentCard{
  width: 100%;
  height: 210px;
  padding: 10px;
  background-color: #d1d8e0 !important;
}

.accordionBtn{
  width: 100%;
  height: 42px;
  font-size: 1.6rem !important;
  font-weight: bold;
}

.appointmentCardHeader{
  background-color: aliceblue !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 6px;
}

.appointmentCardHeader h5{
  font-size: 1.4rem;
  color: var( --text-third) !important;
  font-weight: 500 !important;
}
