.headerTop {
    height: 30px;
    width: 100%;
    background-color: var(--background-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4px;
}

.calender,
.phone,
.info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.calender .icon,
.phone .icon {
    color: var(--text-second);
    font-size: 1.6rem;
}

.info .icon {
    color: var(--text-primary);
    font-size: 1.8rem;
}

.calender span,
.phone span {
    color: var(--text-primary);
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .headerTop {
        height: auto;
    }

    .calender .icon,
    .phone .icon {
        color: var(--text-second);
        font-size: 3rem;
    }

    .calender span,
    .phone span {
        color: var(--text-primary);
        font-size: 1.2rem;
    }
}
