.footer {
    margin-top: 40px;
    width: 100%;
    border-top: 4px solid var(--text-second);
}

.footerContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft, 
.footerCenter {
    flex: 1;
    margin: 0 20px;
}

.footerCenter {
    color: var(--text-primary);
    font-size: 16px;
}

.footerCenter h6 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footerCenter ul {
    list-style: none;
    padding: 0;
}

.footerCenter li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #d3d3d3;
}

.footerCenter li svg {
    margin-right: 8px;
}

.footerLeft p {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-style: italic;
}

.footerIcon {
    cursor: pointer;
    font-size: 4rem;
    margin-right: 10px;
    color: var(--text-second);
    background-color: var(--white-background);
}

@media (max-width: 987px) {
    .footerContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerLeft, 
    .footerCenter {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
