.dashboarHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding:0 10px;
}

.dasboardBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.dasboardBodyHandle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dasboardBodyEmpty {
    flex: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 800px; 
    overflow-y: auto;
}

.dasboardBodyEmpty h4,
.dasboardBodyCalender h4,
.dasboardBodyCompletedHead {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: tomato;
    text-align: center;
    margin-bottom: 10px;
}

.dasboardBodyCalender {
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 4px;
    max-height: 800px; 
    overflow-y: auto;
}

.dasboardBodyCompleted {
    flex: 1;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.wrapperSlot {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slotHeader {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(to right, rgb(29, 162, 86), rgb(72, 212, 131));
}

.slotCardHeaderTextLeft {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-primary)
}

.availableStatus {
    color: var(--text-third) !important;
    font-size: 1.4rem;
    font-weight: bold;
}

.slotBody {
    flex: 1;
    background-color: #ecf0f1;
    padding: 4px;
}

.slotCardBodyText,
.slotBodyText {
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.slotCardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.slotCardFooterView,
.slotCardFooterDelete,
.slotCardFooterBook {
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 1.8rem;
    cursor: pointer;
}
.slotCardFooterView {
    background-color: #f39c12;
    border-bottom-left-radius: 4px;
}

.slotCardFooterDelete {
    background-color: #e74c3c;
    flex: 1;
}

.slotCardFooterBook {
    background-color: var(--blue-background);
}

.slotCardFooterBook:hover {
    background-color: #3ea0e1;
}
.slotCardFooterView:hover {
    background-color: #e9a231;
    border-bottom-left-radius: 4px;
}

.slotCardFooterDelete:hover {
    background-color: #ee4f3d;
}

.slotArrive {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.slotHeaderCompleted {
    width: 100%;
    height: 40px;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(226, 24, 24), rgb(212, 72, 72));
}

.slotHeaderCompletedText {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
}
