.dashboarHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dasboardBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.dasboardBodyHandle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dasboardBodyEmpty {
    flex: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 800px; /* Thiết lập chiều cao tối đa */
    overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

.dasboardBodyEmpty h4,
.dasboardBodyCalender h4,
.dasboardBodyCompletedHead {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: tomato;
    text-align: center;
    margin-bottom: 10px;
}

.dasboardBodyCalender {
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 4px;
    max-height: 800px; /* Thiết lập chiều cao tối đa */
    overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

.dasboardBodyCompleted {
    flex: 1;
}

.noSlotsMessage {
    font-size: 1.4rem;
    text-align: center;
}

/* _______________ */
.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.wrapperSlot {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.slotHeader {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(29, 162, 86), rgb(72, 212, 131));
}

.slotCardHeaderTextLeft {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-primary) !important;
}
.bookedStatus {
    color: red !important;
    font-size: 1.4rem;
    font-weight: bold;
}

.availableStatus {
    color: var(--text-third) !important;
    font-size: 1.4rem;
    font-weight: bold;
}

.slotBody {
    flex: 1;
    background-color: #ecf0f1;
    padding: 4px;
}

.slotCardBodyText,
.slotBodyText {
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.slotCardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.slotCardFooterView,
.slotCardFooterDelete,
.slotCardFooterBook {
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 1.8rem;
    cursor: pointer;
}
.slotCardFooterView {
    background-color: #f39c12;
    border-bottom-left-radius: 4px;
}
.slotCardFooterDelete {
    background-color: #e74c3c;
    flex: 1;
}
.slotCardFooterBook {
    background-color: #3498db;
}

.slotCardFooterBook:hover {
    background-color: #3ea0e1;
}
.slotCardFooterView:hover {
    background-color: #e9a231;
    border-bottom-left-radius: 4px;
}

.slotCardFooterDelete:hover {
    background-color: #ee4f3d;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.calendarForm {
    flex: 1;
}

.calendarBtn {
    border: none;
    outline: none;
    background-color: #3498db;
    font-size: 1.3rem;
    color: #ecf0f1;
    border-radius: 6px;
    padding: 6px;
}

.slotArrive {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.slotHeaderCompleted {
    width: 100%;
    height: 40px;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(226, 24, 24), rgb(212, 72, 72));
}

.slotHeaderCompletedText {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
}

.slotFooterCompleted {
    background-color: #f79f1f;
}

.dasboardBodyCalenderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}
.appointmentResults {
    margin-bottom: 20px;
    padding: 16px;
}
.appointmentResultsBody {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.appointmentResultsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 0 20px;
    height: 30px;
    background-image: linear-gradient(to right, rgb(29, 162, 86), rgb(72, 212, 131));
}

.appointmentResultsText {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
}

.appointmentResultsBodyText {
    font-size: 1.3rem;
    color: var(--text-third);
    padding: 4px 12px;
    font-weight: 400;
}

.customerTitle {
    font-size: 1.6rem !important;
    color: #3498db !important;
}

.InfoCustomer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.InfoHeading {
    font-size: 1.5rem;
    color: var(--text-third);
    font-style: italic;
}

.InfoHeadingServices {
    font-size: 1.5rem;
    color: var(--text-third);
    font-style: italic;
    padding-left: 10px;
}
.InfoText {
    font-size: 1.4rem;
    color: var(--text-third);
}

.InfoTextTotal {
    font-size: 1.4rem;
    color: #e74c3c;
    padding-left: 10px;
}

.slotCardFooterCalender {
    height: 40px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.slotCardFooterCalender:hover {
    background-color: #44acf2;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; /* Ngăn không cho click */
}

.slotCardFooterView.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
