.step-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36px;
}
.step-item:not(:first-child)::before {
  content: "";
  background-color: #d1d5db;
  position: absolute;
  width: 100%;
  height: 3px;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.step {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}
.active .step {
  background-color: #0ea5e9;
}
.complete .step {
  background-color: #10b981;
}
.complete p {
  color: #10b981;
}
.complete:not(:first-child)::before,
.active:not(:first-child)::before {
  background-color: #10b981;
}
